{% extends "base.html" %}
{% block content %}
<div class="card" style="width: 38rem;">
    <div class="card-body" >
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-floating mb-3">
          {{ form.email(class="form-control",placeholder="name@example.com")}}
          {{ form.email.label(class="form-group")}}
        </div>
        <div class="form-floating">
          {{ form.password(class="form-control",placeholder="Password")}}
          {{ form.password.label}}
        </div>
        {% for error in form.email.errors %}
          <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
        <div class="d-grid gap-2 col-4 mx-auto">
          {{ form.submit(class="btn btn-primary")}}
        </div>
      </form>
    </div>
  </div>
{% endblock %}