@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #aea5c8;
  color: white;
}

.offer{
    
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 13px;
    padding: 10px 0;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: auto;
    box-shadow: 0 5px 15px rgba(1,1,1,0.06);
}

.brand{
    display: flex;
}

.img-logo{
    width: 60px;
    height: 60px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    font-size: 13.5px;
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}
.navbar li a:hover,
.navbar li a.active{
    color: rgb(15, 57, 88);
}

.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -4px;
    left: 50%
}

.slider-container {
    padding: 2rem 5rem;
    overflow: hidden; 
  }
  
  .slider-wrapper {
    display: flex;
    position: relative;
    max-width: 100%;

    margin: 0 auto;
    overflow: hidden; 
  }
  
  .slider {
    display: flex;
    aspect-ratio: 16/9;
    transition: transform 1s ease-in-out;
    width: 100%;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0,0,0.25);
    border-radius: 0.5rem;
  }
  
  .slider img {
    flex: 1 0 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  